:root {
    --background: #f6f6f6;
    --calculator: #aaa;
    --border: #333;
    --screen: #eee;
    --font: #222;
    --butt: #eee;
    --buttHover: #ddd;
    --buttActive: #ccc;
    --buttRed: #faa;
    --buttRedHover: #e99;
    --buttRedActive: #d88;
  }

html {
    position: relative;
    min-height: 100%;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}

body {
    background-color: var(--background);
    color: var(--font);
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin-top: 100px;
    margin-bottom: 100px;
  }

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 10px;
    margin-top: 50px;
}

.calc {
    width: 400px;
    border: 2px var(--border) solid;
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
}

.screen {
    padding: 10px 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: var(--screen);
    text-align: right;
}

.currentScreen {
    min-height: 50px;
    font-size: 40px;
}

.previousScreen {
    min-height: 30px;
    font-size: 20px;
}

.buttonPanel {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
}

button {
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    outline: none;
  }

.butt {
    padding: 20px;
    border: 2px var(--border) solid;
    border-radius: 5px;
    background-color: var(--butt);
    font-size: 20px;
}

.butt:hover {
    background-color: var(--buttHover);
}

.butt:active {
    background-color: var(--buttActive);
}

.twoCol {
    background-color: var(--buttRed);
    grid-column: span 2;
}

.twoCol:hover {
    background-color: var(--buttRedHover);
}

.twoCol:active {
    background-color: var(--buttRedActive);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 20px;
}